@{
    ViewData["PreguntadOrt"] = "Home Page";
}



<h1 class="centro azul">CONFIGURAR JUEGO</h1>
    <br>
<div class="opciones">
<form>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" required>
            <div> 
                <select required name="dificultad">
                    <option selected disabled class="default">Dificultad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="-1">Todas</option>
                </select>
                <!--Buscar id's de las categoria para poner sus valores-->
                <select required name="categoria">
                    <option selected disabled class="default">Categoria</option>
                    <option value="">Artes</option>
                    <option>Ciencia</option>
                    <option>Deportes</option>
                    <option>Entretenimiento</option>
                    <option>Geografía</option>
                    <option>Historia</option>
                    <option>Todas</option>
                </select>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary"><a class="btn-a" href=''>Empezar</a></button>
</form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>