@{
    ViewData["PreguntadOrt"] = "Home Page";
}

<div class="centro">
    <h1>9999</h1>
    <h2>USERNAME</h2>
    <img src="Imagenes/Andy.png">
    <br>
    <botton class="btn btn-outline-success me-2"><a href="configurarJuego.html" class="btn-a">Volver a Jugar</a></botton>
</div>
