@{
    ViewData["PreguntadOrt"] = "Home Page";
}

<div class="centro">
    <h1>@ViewBag.puntaje</h1>
    <h2>@ViewBag.nombre</h2>
    <img src="/Imagenes/Andy.png">
    <br>
    <form action = '@Url.Action("ConfigurarJuego")' method = "post">
        <button type class="btn btn-a btn-outline-success me-2">Volver a Jugar</button>
    </form>
</div>
