@{
    ViewData["PreguntadOrt"] = "Home Page";
}
<br>

<div class="centro">
        <img src="/Imagenes/preguntados.webp" class="centro imgPreg">
        <br>
        <br>
        <form action = '@Url.Action("ConfigurarJuego")' method = post>
            <button type="submit" class="btn btn-a btn-outline-success me-2" id="inicio" type="button"> JUGAR </button>
        </form>
    </div>
