@{
    ViewData["PreguntadOrt"] = "Home Page";
}

<div class="centro">
        <img src="Imagenes/placeholder.png" class="centro">
        <br>
        <br>
        <form>
            <button class="btn btn-outline-success me-2" id="inicio" type="button"><a class="btn-a" href='Url.Action("ConfigurarJuego")'> JUGAR</a></button>
        </form>
    </div>
