@{
    ViewData["PreguntadOrt"] = "Home Page";
}

<br>

    <h3>0000 <mark class="invisible"> --- </mark> Username</h3>

    <br>
    <br>

    <div class="centro">
        <h2>#. Pregunta</h2>
        <img src="Imagenes/placeholder.png" id="foto_pregunta">
        <div class="botonRtas">
            <button type="submit" class="btn btn-primary btn-lg"><a href="respuesta.html" class="btn-a">Large button</a></button>
            <button type="submit" class="btn btn-primary btn-lg"><a href="respuesta.html" class="btn-a">Large button</a></button>
        </div>            
        <div class="botonRtas">
            <button type="submit" class="btn btn-primary btn-lg"><a href="respuesta.html" class="btn-a">Large button</a></button>
            <button type="submit" class="btn btn-primary btn-lg"><a href="respuesta.html" class="btn-a">Large button</a></button>
        </div>
    </div>