@{
    ViewData["PreguntadOrt"] = "Home Page";
}

<h3>0000 <mark class="invisible"> --- </mark> Username</h3>

    <br>
    <div class="centro">
        <h1 class="rojo">Incorrecto</h1>
        <br>
        <img src="Imagenes/perdiste_jaja.gif" alt="Tito con lluvia">
        <br>
        <br>
        <h3 class="azul">La respuesta correcta es ...</h3>
        <br>
        <button class="btn btn-outline-success me-2"><a class="btn-a" href="fin.html">Siguiente</a></button>
    </div>